<template>
  <v-card>
    <v-card-text style="padding-top: 20px; padding-bottom: 10px">
      <v-row>
        <v-col cols="6">
          <h2>{{ toRupiah(dataExpense.amount) }}</h2>
          <p style="margin-top: 10px">{{ dataExpense.title }}</p>
        </v-col>
        <v-col cols="6">
          <div class="float-end">
            <p>{{ dataExpense.input_time }}</p>
            <v-btn small color="warning" @click="$emit('edit', dataExpense)"
              >Edit</v-btn
            >
            <v-btn small color="error" @click="$emit('delete', dataExpense)"
              >Delete</v-btn
            >
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import rupiah from "@/mixins/rupiah.js";
export default {
  mixins: [rupiah],
  props: {
    dataExpense: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style></style>
