<template>
  <div>
    <v-card>
      <v-card-text>
        <p>Total Expense</p>
        <h1>{{ toRupiah(totalExpense) }}</h1>
        <br />
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="success" @click="showFormExpense(true)">
          Add Expense
        </v-btn>
      </v-card-actions>
    </v-card>

    <v-card style="margin-top: 20px" v-show="formAvailable">
      <v-card-title>Add Expense</v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-text-field v-model="form.title" label="Title"></v-text-field>
        <v-text-field v-model="form.amount" label="Amount"></v-text-field>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-btn color="primary" @click="saveExpense">Save</v-btn>
        <v-btn color="default" @click="showFormExpense(false)">Cancel</v-btn>
      </v-card-actions>
    </v-card>

    <v-row
      style="margin-top: 10px"
      v-for="(ex, index) in expenses"
      :key="index"
    >
      <v-col cols="12">
        <card-expense
          :data-expense="ex"
          @edit="editExpense"
          @delete="deleteExpense"
        ></card-expense>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import rupiah from "@/mixins/rupiah.js";
import CardExpense from "@/components/CardExpense.vue";

export default {
  components: {
    "card-expense": CardExpense,
  },
  mixins: [rupiah],
  data() {
    return {
      expenses: [],
      totalExpense: 0,

      modeForm: "Add",
      formAvailable: false,

      form: {
        title: "",
        amount: 0,
      },
    };
  },
  methods: {
    async getExpense() {
      const expenses = await this.$axios.get("/expense");
      this.expenses = expenses.data;
    },
    async sumExpense() {
      const dataExpense = await this.$axios.get("/expense/sum-expense");
      this.totalExpense = parseInt(dataExpense.data.amount);
    },
    saveExpense() {
      if (this.modeForm == "Add") {
        this.$axios
          .post("/expense", {
            ...this.form,
          })
          .then((result) => {
            this.clearAndRefreshForm(result);
          })
          .catch((error) => console.log("error", error));
      } else if (this.modeForm == "Edit") {
        this.$axios
          .put("/expense", {
            ...this.form,
          })
          .then((result) => {
            this.clearAndRefreshForm(result);
          });
      }
    },
    deleteExpense(ex) {
      this.$axios
        .delete("/expense/" + ex.id)
        .then((response) => {
          alert(response.data.message);
          this.getExpense();
          this.sumExpense();
        })
        .catch((error) => console.log("error", error));
    },
    editExpense(ex) {
      this.modeForm = "Edit";
      this.formAvailable = true;
      this.form.title = ex.title;
      this.form.amount = ex.amount;
      this.form.id = ex.id;
    },
    clearAndRefreshForm(result) {
      alert(result.data.message);
      this.showFormExpense(false);

      this.form = {
        title: "",
        amount: 0,
      };
      this.getExpense();
      this.sumExpense();
    },
    showFormExpense(state) {
      this.modeForm = "Add";
      this.formAvailable = state;
    },
  },
  mounted() {
    this.getExpense();
    this.sumExpense();
  },
};
</script>

<style></style>
